<div class="parentContainer">
    <h1>Parent</h1>
    <div class="workZone">
        <div class="parentMessage">
            <p>message: {{messageFromChild | uppercase }}</p>
        </div>        
        <div class="parentButtons">           
            <button 
                    class="btn btn-primary m-1"
                    (click)="parentService()"
                    >
                    Use Service
            </button>
            <button 
                    class="btn btn-primary m-1"
                    (click)="changeMessage()">Use Input Property
            </button>
            <button 
                    class="btn btn-primary m-1"
                    (click)="observableParent()"
                    >
                    Use Observable
            </button>
        </div>
    </div>
    <app-child 
                [message]="messageToChild"             
                (messageToParen)="onReciveMessage($event)"           
                >
    </app-child>
</div>


